:root {
  --darkgreen: #3C6255;
  --green: #61876E;
  --lightgreen: #A6BB8D;
  --brown: #b6977ed0;
  --pearl: #f9f8e7;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}
html body {
  height: 100%;
}
html body #mainNav {
  box-shadow: none;
  transition: 0.2s ease;
  background-color: var(--pearl);
}
html body #mainNav.navbar-shrink {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--pearl) !important;
}
html body nav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--pearl);
  transition: background-color 0.2s ease;
}
html body header {
  min-width: 100%;
  background: linear-gradient(to bottom, rgba(47, 54, 39, 0.6274509804) 60%, var(--pearl) 100%), url("images/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
html body header .header-title, html body header .header-paragraph {
  color: var(--pearl) !important;
}
html body header .divider {
  height: 3px;
  opacity: 0.75;
  background-color: var(--green);
  min-width: 5rem;
  border: none;
}
html body header .scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX/2);
  border: calc(var(--sizeX) / 10) solid var(--lightgreen);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}
html body header .scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px rgba(42, 84, 112, 0.4);
}
@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
html body header .chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body header .chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
html body header .chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}
html body header .chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}
@keyframes pulse54012 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
html body header .header-title {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
  }
}
html body .gallery img {
  max-height: 500px;
  height: 100%;
  object-fit: cover;
}

/* Media queries */
@media (min-width: 992px) {
  #mainNav {
    background-color: transparent !important;
  }
  .navbar-brand {
    width: 50px;
  }
  .main-btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
  .main-btn:hover {
    padding: 0.5rem 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    width: 50px;
  }
  .main-btn {
    padding: 0.4rem 1.5rem;
    font-size: 1rem;
  }
  .main-btn:hover {
    padding: 0.4rem 2.5rem;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    width: 45px;
  }
  .main-btn {
    padding: 0.4rem 1.5rem;
    font-size: 0.9rem !important;
  }
  .main-btn:hover {
    padding: 0.4rem 2.5rem;
  }
}
@media (max-width: 480px) {
  .navbar-brand {
    width: 45px;
  }
  .main-btn {
    padding: 0.4rem 1.5rem;
    font-size: 0.7rem !important;
  }
  .main-btn:hover {
    padding: 0.4rem 2.5rem;
  }
  .nav-item {
    padding: 0.5rem 0 !important;
  }
}
/* Custom classes */
.font-title {
  font-family: "Jost", sans-serif !important;
}

.font-normal {
  font-family: "IBM Plex Sans", sans-serif !important;
}

.round {
  border-radius: 20px !important;
}

.all-centered {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.space-nowrap {
  white-space: nowrap !important;
}

.color-lg {
  color: var(--lightgreen);
}

.border-lg {
  border-color: var(--lightgreen);
}

.color-p {
  color: var(--pearl);
}

.bg-pearl {
  background-color: var(--pearl) !important;
}

.bg-lg {
  background-color: var(--lightgreen) !important;
}

.img-ratio169 {
  aspect-ratio: 16/9;
}

.lh-2 {
  line-height: 1.75;
}

.btt {
  position: fixed;
  bottom: 0;
  margin: 20px;
}

/*# sourceMappingURL=gallery.css.map */
